name: Deploy to Cloudflare Pages

on:
  push:
    branches: [main, master]
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *' # 每日自动更新

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. 配置 Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.2'
          # cache: 'yarn'  <-- 删掉了这一行，不再强制要求 yarn.lock

      # 2. 安装依赖
      - name: Install Dependencies
        # 删掉了 --frozen-lockfile，这样即使没有 lock 文件也能安装
        run: yarn install 

      # 3. 构建项目
      - name: Build Project
        run: yarn export
        env:
          NOTION_KEY: ${{ secrets.NOTION_KEY }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}

      # 4. 推送
      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'my-daily-blog' # ⚠️ 这里记得确认一下是不是你刚才创建的项目名
          directory: 'out'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
